body {
    background-color: black;
}

h1 {
    text-align: center;
    color: lime
}

h2 {
    text-align: center;
    color: lime
}

h3 {
    text-align: left;
    padding-left: 40px;
    color: lightgreen
}

p {
    text-align: left;
    padding-left: 20px;
    color: lawngreen;
}

h4 {
    color: red;
    padding-left: 20px;
}

h6 {
    color:lightgrey;
}

.CVdiv {
    text-align: left;
    padding-left: 10px;
    color: forestgreen;
}

.DEdiv{
    color: lightgray;
}

.signupLegend {
    color: greenyellow;
}

.genderLegend {
    color: lightblue;
}